.header-img {
  width: 50%;
}

.chart-name {
  font-size: 1.5rem;
  font-weight: 900;
}

.header-controls {
  display: flex;
  align-items: center;
}

.header-controls > * {
  margin: auto;
}

li {
  cursor: pointer;
}

#pie-chart, #line-chart {
  height: 100%;
  margin-bottom: 15px;
}
